$search-height: 40px;
$search-color: #242424;
$search-border-width: 2px;
$search-border-color: #C7CCD7;
$search-border-hover-color: #3d70b2;
$search-border-radius: 4px;
$search-transition-duration: .3s;
$search-background: #FFFFFF;
$search-color-gray-dark: #7D8290;
$search-suggestions-title-bg: #F5F6F9;
$search-suggestions-item-x-padding: 15px;
$search-suggestions-item-padding: 4px $search-suggestions-item-x-padding;
$search-suggestions-item-font-size: 14px;
$search-suggestions-clear-color: #AEB4C2;
$search-suggestions-link-hover-color: #4186df;
$search-suggestions-item-hover-bg: #F0F2F7;
$search-discount-bg: #FE6564;
$search-icon-color: #C4C4C4;
